.logo {
    margin: 5px;
    border-radius: 10px;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
}

.nav-dropdown {
    margin-top: 20%;
}

a>button:hover {
  text-decoration: none;
}

.padding-aside {
  padding-right: 5%;
  padding-left: 5%;
}

.nav-pills {
    margin-top: 40px;
}

.space-xs {
    margin: 10px;
}