.logo {
    margin: 5px;
    border-radius: 10px;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
}

.nav-dropdown {
    margin-top: 20%;
}

a>button:hover {
  text-decoration: none;
}

.padding-aside {
  padding-right: 5%;
  padding-left: 5%;
}

.nav-pills {
    margin-top: 40px;
}

.space-xs {
    margin: 10px;
}

.panel-default > .panel-heading{
  background-color: #45b128;
  color: white;
}

.btn.btn-danger.close-header:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.btn.btn-danger.close-header-small:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.btn.btn-danger.close-header {
  margin-right: 20px;
}

.btn.btn-danger.close-header-small {
  color: #fff;
}