<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>
  <link href="../css/vendor/bootstrap.min.css" rel="stylesheet">
  <link href='../css/vendor/bootstrap-theme.css' type='text/css' rel='stylesheet'/>
  <link href="../css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="../js/vendor/angular.js" type="text/javascript"></script>
  <script src="../js/appjs.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body ng-app="registerApp">
  <!-- This is the header with the nav -->
  <header>
    <nav class="navbar navbar-default">
      <div class="row">
        <div class="col-xs-4">
          -          <img src="../images/logo.jpg" class="img-responsive logo">
        </div>

        <div class="col-xs-4">
          <div class="nav-dropdown" ng-controller="myTurnCtrl">
            <select class="btn btn-primary" ng-model="selectedName" ng-options="x for x in names">
              <option value="">Turn</option>
            </select>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="nav-dropdown" ng-controller="myPenaltyCtrl">
            <select class="btn btn-primary" ng-model="selectedName" ng-options="x for x in names">
              <option value="">Penalty</option>
            </select>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- Finish of header and nav -->

  <div class="container" ng-controller="contRegisterCtrl as ctr">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Area
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <table class="table table-striped">
            <tr class="sucess" align="center">
              <td><button type="button" class="btn btn-default">ICOM<br></br>Computer Engineering</button></td>
              <td><button type="button" class="btn btn-default">INEL<br></br>Electrical Engineering</button></td>
              <td><button type="button" class="btn btn-default">INQU<br></br>Chemical Engineering</button></td>
            </tr>
            <tr align="center">
              <td><button type="button" class="btn btn-default">ICOM<br></br>Computer Engineering</button></td>
              <td><button type="button" class="btn btn-default">INEL<br></br>Electrical Engineering</button></td>
              <td><button type="button" class="btn btn-default">INQU<br></br>Chemical Engineering</button></td>
            </tr>
            <tr align="center">
              <td><button type="button" class="btn btn-default">ICOM<br></br>Computer Engineering</button></td>
              <td><button type="button" class="btn btn-default">INEL<br></br>Electrical Engineering</button></td>
              <td><button type="button" class="btn btn-default">INQU<br></br>Chemical Engineering</button></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Jobs
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <table class="table table-striped">
              <tr class="sucess" align="center">
                <td><button type="button" class="btn btn-default">Secretary</button></td>
                <td><button type="button" class="btn btn-default">Advisor</button></td>
                <td><button type="button" class="btn btn-default">Registration</button></td>
              </tr>
              <tr align="center">
                <td><button type="button" class="btn btn-default">Secretary</button></td>
                <td><button type="button" class="btn btn-default">Advisor</button></td>
                <td><button type="button" class="btn btn-default">Registration</button></td>
              </tr>
              <tr align="center">
                <td><button type="button" class="btn btn-default">Secretary</button></td>
                <td><button type="button" class="btn btn-default">Advisor</button></td>
                <td><button type="button" class="btn btn-default">Registration</button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Description
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body col-md-offset-2">
            <div class="form-group">
              <label class="col-md-4 control-label">Description:</label>
              <div class="col-md-8">
                <input class="form-control" id="description" type="text" name="middleName" placeholder="Description">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label" text-align="right">Whatever:</label>
              <div class="col-md-8">
                <input class="form-control" type="text" name="middleName" placeholder="Whatever">
              </div>
            </div>
            <div class="form-group col-md-offset-4">
              <a href="./confirmTicket.html"><button type="button" class="btn btn-success" style="margin: 10px;"><span class="glyphicon glyphicon-ok"></span> Get a ticket !!!</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Start of footer -->
  <footer class="well" align="center">
      Developed @2016
  </footer>
  <!-- End of footer -->
</body>
</html>
