<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Historial de Turnos</div>
  <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar por...">
                    <span class="input-group-btn">
                        <button class="btn btn-success margin-bottom-xs" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->

        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>RUM ID</th>
                    <th>Hora</th>
                    <th>Acción</th>
                </tr>

                <tr>
                    <td>802-12-5541</td>
                    <td>15:30</td>
                    <td><a ng-href="#/adminPassTurn">
                            <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver</button>
                        </a></td>
                    </td>
                </tr>

                <tr>
                    <td>802-12-5541</td>
                    <td>14:45</td>
                    <td><a ng-href="#/adminPassTurn">
                            <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver</button>
                        </a></td>
                </tr>

                <tr>
                    <td>802-12-5441</td>
                    <td>13:59</td>
                    <td><a ng-href="#/adminPassTurn">
                            <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver</button>
                        </a></td>
                </tr>
            </table>
        </div>
  </div>
</div>
