<table class="table table-bordered" >
    <thead class="thead-inverse" >
        <tr>
            <th colspan="6">
                <p align="center"> Turno pasado</p>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td colspan= "3"> <b> Turno de:  </b></td>
            <td colspan= "3"> Pepito Perez</td>
        </tr>

        <tr>
            <td colspan= "3"> <b> Para:</b></td>
            <td colspan= "3"> ICOM</td>
        </tr>

        <tr>
            <td colspan= "3"> <b> Con:</b></td>
            <td colspan= "3"> Manuel Rodriguez</td>
        </tr>

        <tr>
            <td colspan= "1"> <b> Comenzó:</b></td>
            <td colspan= "2"> hh:mm</td>
            <td colspan= "1"> <b> Terminó:</b></td>
            <td colspan= "2"> hh:mm</td>
        </tr>

        <tr>
            <th colspan= "6">
                <p align="center">Notas del Turno pasado</p>
            </th>
        </tr>

        <tr>
            <th colspan= "1">
                <p align="center">ID Comentario</p>
            </th>
            <th colspan= "5">
                <p align="center">Descripción</p>
            </th>
        </tr>

        <tr>
            <td colspan= "1">
                <p align="center">1</p>
            </td>
            <td colspan= "5">
                <p align="left">Pepito trajo carta de Registraduría y será archviada.</p>
            </td>
        </tr>

        <tr>
            <td colspan= "1">
                <p align="center">2</p>
            </td>
            <td colspan= "5">
                <p align="left">Pepito reclamó nota de semestre pasado</p>
            </td>
        </tr>

        <tr>
            <td colspan= "1">
                <p align="center">3</p>
            </td>
            <td colspan= "5">
                <p align="left">Se le hará evaluación académica en próxima cita.</p>
            </td>
        </tr>
    </tbody>
</table>