<div class="panel panel-default">
    <div class="panel-heading">Atendiendo a Pepito Goznalez - <b>0h 45min 33seg</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-3">
                <button type="submit" class="btn btn-success  btn-lg">
                    <i class="fa fa-play" aria-hidden="true"></i>
                    Comenzar
                </button>
            </div>

            <div class="col-xs-3">
                <button type="submit" class="btn btn-success  btn-lg">
                    <i class="fa fa-pause" aria-hidden="true"></i>
                    Pausar
                </button>
            </div>

            <div class="col-xs-3">
                <button type="submit" class="btn btn-success  btn-lg">
                    <i class="fa fa-stop" aria-hidden="true"></i>
                    Terminar
                </button>
            </div>

            <div class="col-xs-3">
                <button type="submit" class="btn btn-danger  btn-lg">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    No se presentó
                </button>
            </div>
        </div>

        <hr>

        <div class="panel panel-default">
            <div class="panel-heading">Notas tomadas</div>
            <div class="panel-body">
                No hay ninguna nota.
            </div>
        </div>

        <form>
            <div class="form-group">
                <label for="a1">Añadir nota</label>
                <input type="textarea" class="form-control" id="a1">
            </div>
            <button type="submit" class="btn btn-success ">Añadir nota</button>
        </form>
    </div>
</div>