<div class="panel panel-default" ng-controller="AdminCurrentTurnCtrl as admincurrentturn" ng-init="fetch"  > 
<strong> Estudiante:</strong>
{{student[0].student.name
+ " " 
+student[0].student.middleName
+ " "
+student[0].student.lastName + "            Tiempo corriente de turno: "
}}
<b>0h 45min 33seg</b>
<div>
<b> Atendido por: </b>

{{student[0].administrative.name
+ " " 
+student[0].administrative.middleName
+ " "
+student[0].administrative.lastName
}}

 </div>
    <!-- <timer interval="1000" autostart="true">{{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer> -->


    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-3">
                <button type="submit" class="btn btn-success  btn-lg">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    Comenzar
                </button>
            </div>

            <div class="col-xs-3">
                <button type="submit" class="btn btn-success  btn-lg">
                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                    Pausar
                </button>
            </div>

            <div class="col-xs-3">
                <button type="submit" class="btn btn-success  btn-lg">
                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                    Terminar
                </button>
            </div>

            <div class="col-xs-3">
                <button type="submit" class="btn btn-danger  btn-lg">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    No se presentó
                </button>
            </div>
        </div>

        <hr>

        <div class="panel panel-default">
            <div class="panel-heading">Notas tomadas</div>
            <div class="panel-body">
               {{student[0].comment.description}}
            </div>
        </div>

        <form>
            <div class="form-group">
                <label for="a1">Añadir nota</label>
                <input type="textarea" class="form-control" id="a1">
            </div>
            <button type="submit" class="btn btn-success ">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                Añadir nota
            </button>
        </form>
    </div>
</div>