<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Historial de Turnos</div>
  <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                   <input ng-model="searchedID"  class="form-control"  placeholder="Buscar por ID del RUM">
                    <span class="input-group-btn">
                        <button class="btn btn-success margin-bottom-xs" type="button" ng-click="getTurnHistory()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->

        <div class="table-responsive">
            <table class="table table-bordered">
                <tr ng-show="turns.length">
                    <th>RUM ID</th>
                    <th>Hora</th>
                    <th>Acción</th>
                </tr>

                <tr ng-repeat="currentTurn in turns">
                    <td>{{currentTurn.student.rumId}}</td>
                    <td>{{currentTurn.startTime.hourOfDay+":"+currentTurn.startTime.minuteOfHour}}</td>
                    <td><a ng-href="#/adminPassTurn">
                            <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver</button>
                        </a></td>
                    </td>
                </tr>


            </table>
        </div>
  </div>
</div>


<script type="text/javascript">
  if(!localStorage.getItem('user') || !localStorage.getItem('id') || localStorage.getItem('role') != 'administrative') {
    document.write('<h1>No tienes permiso para ver el contenido.</h1>');
    window.stop();
  }

  $('.admin-home').removeClass('active');
  $('.admin-turns').removeClass('active');
  $('.historial').addClass('active');
</script>