<div class ="container" ngcontroller="AdminPassTurnCtrl as adminpasturnctrl" >
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Turno pasado</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <td><b>Turno de:</b> {{turn.student.name+ " "+ turn.student.middleName+ " "+turn.student.lastName}}</td>
            <td><b>Turno para:</b> {{turn.administrative.position.area.name}} {{count}}</td>
            <td><b>Turno con:</b> {{turn.administrative.name+ " " +turn.administrative.middleName+" "+ turn.administrative.lastName}}</td>
          </tr>
          <tr>
            <td><b>Número de comentarios:</b> {{1}}</td>
            <td><b>Hora de comienzo:</b> 27-05-2016 | 12h 43min</td>
            <td><b>Hora de comienzo:</b> 27-05-2016 | 12h 52min</td>
          </tr>

        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-default">

    <!-- Default panel contents -->
    <div class="panel-heading">Notas del turno pasado</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <th># Comentario</th>
            <th>Descripción</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Pepito trajo carta de Registraduría y será archviada.</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Pepito reclamó nota de semestre pasado.</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Se le hará evaluación académica en próxima cita.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
