<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Turnos All Jobs</div>
  <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>RUM ID</th>
                    <th>Nombre</th>
                    <th>Acción</th>
                </tr>

                <tr>
                    <td>802-12-5541</td>
                    <td>Pepito Perez</td>
                    <td>
                        <a ng-href="#/adminCurrentTurn" class="btn btn-success"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver turno actual</a>
                    </td>
                    </td>
                </tr>

                <tr>
                    <td>802-12-5541</td>
                    <td>Pepito Santiago</td>
                    <td><button class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancelar turno</button></td>
                </tr>

                <tr>
                    <td>802-12-5441</td>
                    <td>Jose Lopez</td>
                    <td><button class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancelar turno</button></td>
                </tr>

                <tr>
                    <td>802-11-5541</td>
                    <td>Victor Lopez</td>
                    <td><button class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancelar turno</button></td>
                </tr>

                <tr>
                    <td>841-11-5541</td>
                    <td>Juan del Pueblo</td>
                    <td><button class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancelar turno</button></td>
                </tr>
            </table>
        </div>
  </div>
</div>
