<div class= "container">
    <p align="center">
        <a ng-href="#/adminPendingTurns">
            <button type="button" class="btn btn-info">Turnos pendientes</button>
        </a>
    </p>
</div>

<div class= "container">
    <p align="center">
        <a ng-href="#/adminPendingTurns">
            <button type="button" class="btn btn-info">Historial de Turnos</button>
        </a>
    </p>
</div>

<script type="text/javascript">
  if(!localStorage.getItem('loadAdmin')) {
     location.reload(); 
  }
  
  localStorage.setItem('loadAdmin', 'true');
  localStorage.removeItem('loadStudent');
  localStorage.removeItem('loadHome');
</script>


<script type="text/javascript">
  if(!localStorage.getItem('user') || !localStorage.getItem('id') || localStorage.getItem('role') != 'administrative') {
    document.write('<h1>No tienes permiso para ver el contenido.</h1>');
    window.stop();
  }
</script>