<div class= "container">
    <p align="center">
        <a ng-href="#/adminPendingTurns">
            <button type="button" class="btn btn-info">Turnos pendientes</button>
        </a>
    </p>
</div>

<div class= "container">
    <p align="center">
        <a ng-href="#/adminPendingTurns">
            <button type="button" class="btn btn-info">Historial de Turnos</button>
        </a>
    </p>
</div>

<script type="text/javascript">
  if(!localStorage.getItem('loadAdmin')) {
     location.reload(); 
  }
  
  localStorage.setItem('loadAdmin', 'true');
  localStorage.removeItem('loadStudent');
  localStorage.removeItem('loadHome');
</script>