<div class ="container" ngcontroller="AdminPassTurnCtrl as adminpasturnctrl" >
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Turno pasado</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <td><b>Turno de:</b> {{studentName}}</td>
            <td><b>Turno para:</b> {{adminArea}}</td>
            <td><b>Turno con:</b> {{adminName}}</td>
          </tr>
          <tr>
            <td><b>Número de comentarios:</b> {{turn.CommentList.length}}</td>
            <td><b>Hora de comienzo:</b>{{startDate}} </td>
            <td><b>Hora de comienzo:</b> {{endDate}}</td>
          </tr>

        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-default">

    <!-- Default panel contents -->
    <div class="panel-heading">Notas del turno pasado</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <th># Comentario</th>
            <th>Descripción</th>
          </tr>
          <tr ng-repeat="turn in turn.CommentList" >
            <td>{{turn.idComment}}</td>
            <td>{{turn.description}}</td>

          </tr>

        </table>
      </div>
    </div>
  </div>
</div>
