<h2>Jobs</h2>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#AllJobs">All Jobs</a></li>
    <li><a data-toggle="tab" href="#job1">Job1</a></li>
    <li><a data-toggle="tab" href="#job2">Job2</a></li>
    <li><a data-toggle="tab" href="#job3">Job3</a></li>
</ul>

<div class="tab-content">
    <div id="AllJobs" class="tab-pane fade in active">
        <h3>Turnos All Jobs</h3>

        <table width=100%>
            <tr>
                <th>RUM ID</th>
                <th>Nombre</th>
            </tr>

            <tr>
                <td>802-12-5541</td>
                <td>Pepito Perez</td>
            </tr>

            <tr>
                <td>802-12-5541</td>
                <td>Pepito Santiago</td>
            </tr>

            <tr>
                <td>802-12-5441</td>
                <td>Jose Lopez</td>
            </tr>

            <tr>
                <td>802-11-5541</td>
                <td>Victor Lopez</td>
            </tr>

            <tr>
                <td>841-11-5541</td>
                <td>Juan del Pueblo</td>
            </tr>
        </table>
    </div>

    <div id="job1" class="tab-pane fade">
        <h3>Turnos Job1</h3>

        <table width=100%>
            <tr>
                <th>RUM ID</th>
                <th>Nombre</th>
            </tr>

            <tr>
                <td>802-12-5441</td>
                <td>Jose Lopez</td>
            </tr>

            <tr>
                <td>802-11-5541</td>
                <td>Victor Lopez</td>
            </tr>

            <tr>
                <td>841-11-5541</td>
                <td>Juan del Pueblo</td>
            </tr>
        </table>
    </div>

    <div id="job2" class="tab-pane fade">
        <h3>Turnos Job 2</h3>
        <table width=100%>
            <tr>
                <th>RUM ID</th>
                <th>Nombre</th>
            </tr>

            <tr>
                <td>802-12-5541</td>
                <td>Pepito Perez</td>
            </tr>

            <tr>
                <td>802-12-5541</td>
                <td>Pepito Santiago</td>
            </tr>

            <tr>
                <td>841-11-5541</td>
                <td>Juan del Pueblo</td>
            </tr>
        </table>
    </div>

    <div id="job3" class="tab-pane fade">
        <h3>Turnos Job 3</h3>

        <table width=100%>
            <tr>
                <th>RUM ID</th>
                <th>Nombre</th>
            </tr>
        </table>
    </div>
</div>


<script type="text/javascript">
  if(!localStorage.getItem('user') || !localStorage.getItem('id') || localStorage.getItem('role') != 'administrative') {
    document.write('<h1>No tienes permiso para ver el contenido.</h1>');
    window.stop();
  }
</script>