<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Turnos All Jobs</div>
  <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered" ng-controller=" AdminPendingTurnsCtrl" >
                <tr>
                    <th>RUM ID</th>
                    <th>Nombre</th>
                    <th>Acción</th>
                </tr>

                <tr ng-repeat="currentTurn in turns ">
                    <td>{{currentTurn.student.rumId}}</td>
                    <td>{{currentTurn.student.name+ currentTurn.student.middleName+currentTurn.student.lastName}}</td>
                    <td>
                        <a ng-href="#/adminCurrentTurn" class="btn btn-success"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver turno actual</a>
                    </td>                    
                </tr>
                
            </table>
        </div>
  </div>
</div>
