<div class="row">
  <div class="col-xs-12 col-lg-offset-3 col-lg-6">
    <div class="panel panel-success" >
      <div class="panel-heading">Log in</div>
      <div class="panel-body">
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label class="control-label">Mail:</label>
            </div>

            <div class="col-md-10">
              <input class="form-control" id="mail" type="text" name="mail">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label class="control-label" align="center">Password:</label>
            </div>

            <div class="col-md-10">
              <input class="form-control" id="pass" type="password" name="pass">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5 col-xs-offset-0 col-md-offset-2 col-md-4">
            <button type="button" class="btn btn-lg btn-success hidden-xs" style="margin: 10px;"><span class="glyphicon glyphicon-log-in"></span> Sign in</button>
            <button type="button" class="btn btn-success visible-xs" style="margin: 10px;"><span class="glyphicon glyphicon-log-in"></span> Sign in</button>
          </div>

          <div class="col-xs-7 col-md-4">
            <a ng-href="#/registrer">
              <button type="button" class="btn-lg btn btn-info hidden-xs" style="margin: 10px;"><span class="glyphicon glyphicon-wrench"></span> Create Account</button>
              <button type="button" class="btn btn-info visible-xs" style="margin: 10px;"><span class="glyphicon glyphicon-wrench"></span> Create Account</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>