





<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <button class="btn btn-default" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Area
        </button>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <table class="table table-striped">
        <tr class="sucess" align="center">
          <td><button type="button" class="btn btn-default">ICOM<br></br>Computer Engineering</button></td>
          <td><button type="button" class="btn btn-default">INEL<br></br>Electrical Engineering</button></td>
        </tr>
        <tr align="center">
          <td><button type="button" class="btn btn-default">ICOM<br></br>Computer Engineering</button></td>
          <td><button type="button" class="btn btn-default">INEL<br></br>Electrical Engineering</button></td>
        </tr>
        <tr align="center">
          <td><button type="button" class="btn btn-default">ICOM<br></br>Computer Engineering</button></td>
          <td><button type="button" class="btn btn-default">INEL<br></br>Electrical Engineering</button></td>
        </tr>
        <tr align="center">
          <td><button type="button" class="btn btn-default">INQU<br></br>Chemical Engineering</button></td>
          <td><button type="button" class="btn btn-default">INQU<br></br>Chemical Engineering</button></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <button class="btn btn-default collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Jobs
        </button>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <table class="table table-striped">
          <tr class="sucess" align="center">
            <td><button type="button" class="btn btn-default">Secretary</button></td>
            <td><button type="button" class="btn btn-default">Advisor</button></td>
            <td><button type="button" class="btn btn-default">Registration</button></td>
          </tr>
          <tr align="center">
            <td><button type="button" class="btn btn-default">Secretary</button></td>
            <td><button type="button" class="btn btn-default">Advisor</button></td>
            <td><button type="button" class="btn btn-default">Registration</button></td>
          </tr>
          <tr align="center">
            <td><button type="button" class="btn btn-default">Secretary</button></td>
            <td><button type="button" class="btn btn-default">Advisor</button></td>
            <td><button type="button" class="btn btn-default">Registration</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <button class="btn btn-default collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Description
        </button>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body col-md-offset-2">
        <div class="form-group">
          <label class="col-md-4 control-label">Description:</label>
          <div class="col-md-8">
            <input class="form-control" id="description" type="text" name="middleName" placeholder="Description">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" text-align="right">Whatever:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" name="middleName" placeholder="Whatever">
          </div>
        </div>
        <div class="form-group col-md-offset-4">
          <a ng-href="#/studentConfirmTicket"><button type="button" class="btn btn-success" style="margin: 10px;"><span class="glyphicon glyphicon-ok"></span> Get a ticket !!!</button></a>
        </div>
      </div>
    </div>
  </div>
</div>