<div class="containerTabs center">
  <ul class="nav nav-pills  centered-pills">
    <li class="active"><a data-toggle="pill" href="#turnos">Turnos</a></li>
    <li><a data-toggle="pill" href="#penalizaciones">Penalizaciones</a></li>
  </ul>

  <div class="tab-content">
    <div id="turnos" class="tab-pane fade in active  ">
      <br>
      <div> <p> <button type="button" class="btn btn-info center-block">Solicitar Turno</button></p>
      </div>
      <div> <p> <button type="button" class="btn btn-info center-block">Turnos Pendientes</button></p>
      </div>
    </div>

    <div id="penalizaciones" class="tab-pane fade ">
      <br>
      <div> <p> <button type="button" class="btn btn-info center-block">Ver Penalizaciones</button></p>
      </div>
      <div> <p> <button type="button" class="btn btn-info center-block">Ver Pagos</button></p>
      </div>
    </div>
  </div>
</div>