<div class="panel panel-default">
    <div class="panel-heading">Penalizaciones pendientes</div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr class="danger">
                <th>
                    #
                </th>

                <th>
                    Descripción
                </th>

                <th>
                    Precio
                </th>

                <th>
                    Acción
                </th>
            </tr>

            <tr>
                <th>
                    1
                </th>

                <th>
                  {{penalties[0].description}}
                </th>

                <th>
                  {{penalties[0].cost}}$
                </th>

                <th>
                    <a ng-href="#/studentPayPenalty">
                        <button type="button" class="btn btn-success">Pagar</button>
                    </a>
                </th>
            </tr>

            <tr>
                <th>
                    2
                </th>

                <th>
                  {{penalties[1].description}}
                </th>

                <th>
                  {{penalties[1].cost}}$$
                </th>

                <th>
                    <a ng-href="#/studentPayPenalty">
                        <button type="button" class="btn btn-success">Pagar</button>
                    </a>
                </th>
            </tr>
        </table>
    </div>
</div>
