<div class="panel panel-default">
  <div class="panel-heading">Pagar penalización</div>
  <div class="panel-body">
    <h1>Penalizacion a pagar de {{paymentVariable.payment_amount|currency}}</h1>

    <form>
      <div class="form-group">
        <label for="f1">Tipo de Tarjeta <font color=red>*</font></label>
        <select class="form-control" ng-model="paymentVariable.type_card">
          <option>Visa</option>
          <option>Master Card</option>
        </select>
      </div>

      <div class="form-group">
        <label for="f1">Número de tarjeta<font color=red>* (9 Digitos)</font></label>
        <input type="number" ng-model="paymentVariable.numbers_card" class="form-control" id="f1">
      </div>
      <div class="form-group">
        <label for="f3">Fecha de Expiracion:<font color=red>*</font></label>
        <md-datepicker ng-model="paymentVariable.expiration_card" md-placeholder="MM/DD/YYYY" md-min-date="minDate"></md-datepicker>
      </div>
      <div class="form-group">
        <label for="f3">Código de seguridad<font color=red>*</font></label>
        <input type="text" class="form-control" id="f3">
      </div>

      <div class="form-group">
        <label for="f4">Titular de la tarjeta<font color=red>*</font></label>
        <input type="text" class="form-control" id="f4">
      </div>

      <div class="form-group">
        <label for="f5">Dirección</label>
        <input type="text" class="form-control" id="f5">
      </div>

      <div class="form-group">
        <label for="f6">Ciudad</label>
        <input type="text" class="form-control" id="f6">
      </div>

      <div class="form-group">
        <label for="f7">Provincia</label>
        <input type="text" class="form-control" id="f7">
      </div>

      <div class="form-group">
        <label for="f8">Código Postal<font color=red>*</font></label>
        <input type="number" class="form-control" id="f8">
      </div>

      <div class="row">
        <div class="col-xs-6">
          <center><button type="submit" class="btn btn-success  btn-lg"ng-click="payment()">Pagar</button></center>
        </div>

        <div class="col-xs-6">
          <a ng-href="#/studentPenaltiesView">
            <center><button type="submit" class="btn btn-danger  btn-lg">Cancelar</button></center>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
if(!localStorage.getItem('user') || !localStorage.getItem('id') || localStorage.getItem('role') != 'student') {
  document.write('<h1>No tienes permiso para ver el contenido.</h1>');
  window.stop();
}
$('.student-turns').removeClass('active');
$('.student-ask-turn').removeClass('active');
$('.student-show-penalties').addClass('active');
$('.student-show-payment').removeClass('active');
$('.student-home').removeClass('active');
</script>
