<div class="panel panel-default">
  <div class="panel-heading">Pagos realizados</div>
  <div class="panel-body">

    <div class="form-group">
      <label class="col-md-4 control-label" for="description">ID:</label>
      <div class="col-md-4">
        <input ng-model="ID" type="text" class="form-control" id="description" rows="3"> </input>
      </div>

      <div class="form-group col-md-4">
        <a ><button ng-click="getPayments()" type="button" class="btn btn-success" style="margin: 10px;"><span class="glyphicon glyphicon-ok"></span> Consultar</button></a>
      </div>
    </div>


    <table class="table table-bordered">
      <tr class="success">
        <th>
          Fecha
        </th>
        <th>
          Numero de Confirmación
        </th>
        <th>
          Tipo de Tarjeta
        </th>
        <th>
          Últimos 4-Digitos de Pago
        </th>
      </tr>
      <tr ng-repeat= "currentPayment in payments">
        <td>
          {{currentPayment.date.monthOfYear+"/"+currentPayment.date.dayOfMonth+"/"+currentPayment.date.year}}
        </td>
        <td>
        {{currentPayment.confirmationNumber}}
        </td>
        <td>
        Will be added on Backend, already in DB
        </td>
        <td>
          Will be added on Backend, already in DB
        </td>
      </tr>
    </table>
  </div>
</div>

<script type="text/javascript">
  if(!localStorage.getItem('user') || !localStorage.getItem('id') || localStorage.getItem('role') != 'student') {
    document.write('<h1>No tienes permiso para ver el contenido.</h1>');
    window.stop();
  }
</script>