<div class="panel panel-default">
  <div class="panel-heading">Pagos realizados</div>
  <div class="panel-body">


    <table class="table table-bordered">
      <tr class="success">
        <th>
          Fecha
        </th>
        <th>
          Numero de Confirmación
        </th>
        <th>
          Tipo de Tarjeta
        </th>
        <th>
          Últimos 4-Digitos de Pago
        </th>
      </tr>
      <tr ng-repeat= "currentPayment in payments">
        <td>
          {{currentPayment.date.monthOfYear+"/"+currentPayment.date.dayOfMonth+"/"+currentPayment.date.year}}
        </td>
        <td>
        {{currentPayment.confirmationNumber}}
        </td>
        <td>
        Will be added on Backend, already in DB
        </td>
        <td>
          Will be added on Backend, already in DB
        </td>
      </tr>
    </table>
  </div>
</div>

<script type="text/javascript">
  if(!localStorage.getItem('user') || !localStorage.getItem('id') || localStorage.getItem('role') != 'student') {
    document.write('<h1>No tienes permiso para ver el contenido.</h1>');
    window.stop();
  }

  $('.student-turns').removeClass('active');
  $('.student-ask-turn').removeClass('active');
  $('.student-show-penalties').removeClass('active');
  $('.student-show-payment').addClass('active');
  $('.student-home').removeClass('active');
</script>
