<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">Acciones disponibles</div>
    <div class="panel-body">
      <a ng-href="#/studentGetTurn">
        <button type="button" class="btn btn-info space-xs">Solicitar Turno</button>
      </a>

      <a ng-href="#/studentListTurns">
        <button type="button" class="btn btn-info space-xs">Turnos Pendientes</button>
      </a>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">Penalizaciones</div>
    <div class="panel-body">
      <a ng-href="#/studentPenaltiesView">
        <button type="button" class="btn btn-info space-xs">Ver Penalizaciones</button>
      </a>

      <a ng-href="#/studentPaymentsView">
        <button type="button" class="btn btn-info space-xs">Ver Pagos realizados</button>
      </a>
    </div>
  </div>
</div>

<script type="text/javascript">
  if(!localStorage.getItem('loadStudent')) {
     location.reload(); 
  }
  
  localStorage.setItem('loadStudent', 'true');
  localStorage.removeItem('loadHome');
  localStorage.removeItem('loadAdmin');

  if(!localStorage.getItem('user') || !localStorage.getItem('id') || localStorage.getItem('role') != 'student') {
    document.write('<h1>No tienes permiso para ver el contenido.</h1>');
    window.stop();
  }

  $('.student-turns').removeClass('active');
  $('.student-ask-turn').removeClass('active');
  $('.student-show-penalties').removeClass('active');
  $('.student-show-payment').removeClass('active');
  $('.student-home').addClass('active');
</script>