<div class="panel panel-default">
    <div class="panel-heading">Pagos realizados</div>
    <div class="panel-body">
        <h4>Numero de confirmación: {{paymentVariable.confirmation_number}}<h4><br>
        <img src="./images/check.png" class="img-responsive" alt="">
    </div>
</div>

<script type="text/javascript">
  if(!localStorage.getItem('user') || !localStorage.getItem('id') || localStorage.getItem('role') != 'student') {
    document.write('<h1>No tienes permiso para ver el contenido.</h1>');
    window.stop();
  }
</script>
