<div class="panel panel-default">
    <div class="panel-heading">Penalizaciones pendientes</div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr class="danger">
                <th>Fecha</th>

                <th>Descripción</th>

                <th>Precio</th>

                <th>Acción</th>
            </tr>
            <tr ng-repeat="currentPenalty in penalties" ng-show="currentPenalty.penalty==null">
                <td>
                    {{currentPenalty.turn.startTime.monthOfYear+"/"+currentPenalty.turn.startTime.dayOfMonth+"/"+currentPenalty.turn.startTime.year}}
                </td>

                <td>
                {{currentPenalty.turn.description}}
                </td>

                <td>
                {{currentPenalty.turn.penaltyCost|currency}}
                </td>

                <td>
                    <a ng-href="#/studentPayPenalty">
                        <button type="button" class="btn btn-success">Pagar</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
