<div class="panel panel-success col-md-offset-4 col-md-6 inline-center" >
  <div class="panel-heading">Current status</div>
  <div class="panel-body">
    <div class="form-group">
      <label class="col-md-6 control-label">People in line: </label>
      <label class="col-md-6 control-label">5 Persons </label>
      <label class="col-md-6 control-label">Expected time in line: </label>
      <label class="col-md-6 control-label">2 hours </label>
      <div class="row">
        <div class="col-md-offset-1 col-md-5">
          <a ng-href="#/studentListTurns">
            <button type="button" class="btn btn-success col-md-6" style="margin: 10px;"><span class="glyphicon glyphicon-ok"></span> Confirm</button>
          </a>
        </div>
        <div class="col-md-offset-1 col-md-5">
          <a ng-href="#/studentGetTurn">
            <button type="button" class="btn btn-danger" style="margin: 10px;"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          </a>
        </div>
      </div>
     </div>
    </div>
  </div>
</div>