<div class="panel panel-success">
  <div class="panel-heading">Pending Turns</div>
  <div class="panel-body">
    <table class="table table-striped">
      <tr class="sucess" align="center">
        <th>Area</th>
        <th>Job</th>
        <th>Administrator Name</th>
        <th>Date & time</th>
        <th>Actions</th>
      </tr>
      <tr align="center">
        <td>{{turns[0].administrative.position.area.name}}</td>
        <td>Secretary</td>
        <td>Pepita Perez</td>
        <td>10/05/2016 08:40 am</td>
        <td><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
      </tr>
      <tr align="center">
        <td>INEL</td>
        <td>Advisor</td>
        <td>Juancho Pancho</td>
        <td>10/04/2016 08:40 am</td>
        <td><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
      </tr>
    </table>
  </div>
</div>