<div class="panel panel-default">
    <div class="panel-heading">Pagos realizados</div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr class="success">
                <th>
                    #
                </th>

                <th>
                    Descripción
                </th>

                <th>
                    Precio
                </th>

                <th>
                    Número Confirmación
                </th>
            </tr>

            <tr>
                <th>
                    1
                </th>

                <th>
                    ICOM - Miguel Anguel
                </th>

                <th>
                    2$
                </th>

                <th>
                    56865165
                </th>
            </tr>

            <tr>
                <th>
                    2
                </th>

                <th>
                    SICI - Angela Romero
                </th>

                <th>
                    1$
                </th>

                <th>
                    56865165
                </th>
            </tr>
        </table>
    </div>
</div>